html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;

}

body{
    background-image: url(../images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}