@import "vars";
@import "global";
@import "fonts";


.content__sidebar{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: space-between;
    &__info{
        background-image: url(../images/bgcontent.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 3080px;
        overflow: hidden;
    }
    &__sidebar{
        padding-top: 40px;
        width: 325px;
        &-img{
            background-image: url(../images/Avatar.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin-left: 65px;
        }
        &-menu{
           font-size: 32px;
           color: #fff;
           font-family: 'Proxima Nova Lt';
           padding-top: 65px;
            li{
                 margin-bottom: 75px;
                 padding-left: 70px;
            }
            li:hover{
                border-left: 10px solid $pink;
                a:hover{
                    color: $pink;
                }
            }
        }
    }
}
.sidebar__inner{
    position: fixed;
}
.content__info-title{
    font-size: 43px;
    font-family: 'Proxima Nova Lt', sans-serif;
    color: white;
    margin: 120px 0 65px 65px;
    display: inline-block;
    border-bottom: 4px solid $pink;
    padding-bottom: 15px;
}
.content__info-items{
    display: flex;
    flex-wrap: wrap;
    margin-left: 65px;
    margin-right: 15px;
}
.content__info-item{
    margin-left: 45px;
    margin-bottom: 70px;
    .item__img{
        width: 325px;
        height: 235px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
    }
    .item__text{
        color: white;
        font-size: 26px;
        font-family: 'Proxima Nova Lt', sans-serif;
        padding-top: 25px;
    }
}